* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

body {
  overflow-x: hidden;
}

.header-main {
  background-color: #025feb;
  color: white;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 60px;
  padding: 0 40px;
  align-items: center;
  width: 100%;
  margin-bottom: 60px;
}

.header-logo {
  width: 110px;
}

.header-nav {
  display: flex;
  gap: 40px;
}

.header-nav div {
  display: flex;
  align-items: center;
}

.header-icons {
  height: 25px;
  margin-right: 5px;
}

.header-p {
  background: transparent;
  border: none;
  color: white;
}
